body {
    background-color: #232830;
    ;
}
h1{
    position: absolute;
  width: 844px;
  height: 85px;
  top: 11px;
  left: 50%; 
  transform: translateX(-50%); 
  opacity: 1; 
  font-family: 'Recursive', sans-serif;
  font-size: 71px;
  font-style: italic;
  font-weight: 400;
  line-height: 85.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FF7575;
  ;
}
h2 {
    position: absolute;          
    width: auto;                 /* テキスト幅に自動調整 */
    height: 44px;                
    top: 113px;                  
    left: 50%;                   
    transform: translateX(-50%); 
    opacity: 1;                  
    font-family: 'Poppins', sans-serif; 
    font-size: 29px;             
    font-weight: 400;            
    line-height: 44px;           
    text-align: center;          
    text-underline-position: from-font; 
    text-decoration-skip-ink: none;     
    color: #FFFFFF;              
    white-space: nowrap;         /* テキストを1行で表示 */
}
.left-top{
    color: #FFFFFF;
}
.right-top {
    position: absolute;         /* 絶対配置 */
    top: 10px;                  /* 上からの距離 */
    right: 10px;                /* 右からの距離 */
    display: flex;              /* フレックスボックスを使用 */
    gap: 20px;                  /* 各`span`の間隔 */
}

.right-top span {
    font-family: 'Poppins', sans-serif; /* フォント設定 */
    font-size: 18px;                    /* フォントサイズ */
    font-weight: 400;                   /* フォントの太さ */
    line-height: 36px;                  /* 行の高さ */
    color: #FFFFFF;                     /* テキスト色 */
    text-align: right;                  /* 右揃え */
}