body {
    background-color: #232830;
}
h1{
    position: absolute;
  width: 844px;
  height: 85px;
  top: 200px;
  left: 50%; 
  transform: translateX(-50%); 
  opacity: 1; 
  font-family: 'Recursive', sans-serif;
  font-size: 71px;
  font-style: italic;
  font-weight: 400;
  line-height: 85.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FF7575;
  ;
}
h2 {
    position: absolute;          
    width: auto;                 /* テキスト幅に自動調整 */
    height: 44px;                
    top: 320px;                  
    left: 50%;                   
    transform: translateX(-50%); 
    opacity: 1;                  
    font-family: 'Poppins', sans-serif; 
    font-size: 29px;             
    font-weight: 400;            
    line-height: 44px;           
    text-align: center;          
    text-underline-position: from-font; 
    text-decoration-skip-ink: none;     
    color: #FFFFFF;              
    white-space: nowrap;         /* テキストを1行で表示 */
}
.left-top{
    color: #FFFFFF;
}
.right-top {
    position: absolute;         
    top: 10px;                  
    right: 10px;               
    display: flex;              
    gap: 20px;                  
}

.right-top span {
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;                    
    font-weight: 400;                   
    line-height: 36px;                  
    color: #FFFFFF;                     
    text-align: right;                 
}
.logo-container{
    margin: 0 auto;
    width: 150px;
   /* text-aligin: center;*/
}
.horizontal-line {
    position: absolute;
    width: 100%;        
    height: 3px;         
    background-color: #4D4D4D; 
    top: 390px;
}
.icon-container{
    display: flex;
    position: absolute;
    width: 24px;               
    height: 24px;
    top: 400px;
    left: 100px; 
    gap: 20px;
}
.grid-icon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}
.grid-icon div {
    width: 6px; 
    height: 6px; 
    background-color: #909090;
    display: block; 
}
.list-icon{
    display: flex;
    flex-direction: column;  
    gap: 6px;  
}
.list-icon .line {
    width: 24px;          
    height: 24px;           
    background-color: #909090;
}
.text-container {
    display: flex;
    flex-direction: flex;  
    gap: 20px;                
}

.text-container p {
    margin: 0;              
    font-family: 'Recursive', sans-serif; 
    font-style: italic;   
    font-size: 24px;        
    color: #909090;         
}